<IfModule mod_rewrite.c>
    Options -Indexes
    RewriteEngine On
   
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?pag=$1 [L,QSA]
</IfModule>

# Bloqueia acesso a arquivos de template
<Files *.tpl>
    Order deny,allow
    Deny from all
</Files>
